{config_load file="$language/lang_$language.conf" section="boxes"}
<h2 class="boxheader">{#heading_login#}</h2>
<div class="boxbody"> {$FORM_ACTION}
  <table width="100%"  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="2">{#text_email#}:</td>
    </tr>
    <tr>
      <td colspan="2">{$FIELD_EMAIL}</td>
    </tr>
    <tr>
      <td colspan="2">{#text_pwd#}:</td>
    </tr>
    <tr>
      <td>{$FIELD_PWD}</td>
      <td>{$BUTTON}</td>
    </tr>
    <tr>
      <td colspan="2"><div class="hr"></div>
        <a href="{$LINK_LOST_PASSWORD}">{#text_password_forgotten#}</a></td>
    </tr>
  </table>
  {$FORM_END} </div>
