{config_load file="$language/lang_$language.conf" section="boxes"}
<h2 class="boxheader">{#heading_best_sellers#}</h2>
<div class="boxbody">
  {foreach name=aussen item=box_data from=$box_content}
    <dl>
      <dt><a href="{$box_data.PRODUCTS_LINK}">{if $box_data.PRODUCTS_IMAGE}<img src="{$box_data.PRODUCTS_IMAGE}" alt="" title="" />{/if}</a></dt>
      <dd>
        <h3>{$box_data.COUNT}. <a href="{$box_data.PRODUCTS_LINK}">{textformat wrap=18 wrap_cut=true}{$box_data.PRODUCTS_NAME}{/textformat}</a></h3>
        <p>
          {$box_data.PRODUCTS_PRICE}<br />
          {if $box_data.PRODUCTS_VPE}{$box_data.PRODUCTS_VPE}<br />{/if}
          {$box_data.PRODUCTS_TAX_INFO}{$box_data.PRODUCTS_SHIPPING_LINK}
        </p>
        <div class="hrlightgrey"></div>
      </dd>
    </dl>
    <div style="clear:both"></div>
  {/foreach}
</div>