{config_load file="$language/lang_$language.conf" section="boxes"}
{if $deny_cart neq 'true'}
	<h2 class="boxcartheader">{#heading_cart#}</h2>
	<div{if $GV_AMOUNT =='' } class="boxcartbody" {else} class="boxcartbody"{/if}>
	{if $ACTIVATE_GIFT=='true'}
		{if $GV_AMOUNT neq ''}
			<p><strong>{#voucher_balance#}</strong>&nbsp;{$GV_AMOUNT}</p>
			<div class="hr"></div>
		{/if}
	{/if}
	{if $empty=='false'} <!-- cart has content -->
		{foreach name=aussen item=products_data from=$products}
			<p>{$products_data.QTY}&nbsp;x&nbsp;<a href="{$products_data.LINK}">{$products_data.NAME|truncate:20:"...":true}</a></p>
		{/foreach}
		<div class="hr"></div>
		<p style="text-align:right">{if $DISCOUNT}{#text_discount#} {$DISCOUNT}<br />{/if}
		{$UST}
		<strong>{#text_total#}:{$TOTAL}</strong><br />
		{if $SHIPPING_INFO}{$SHIPPING_INFO}{/if}</p>
		<div class="hr"></div>
		<p style="text-align:right;"><a href="{$LINK_CART}"><strong>{#heading_cart#}&nbsp;»</strong></a></p>
	{else} <!-- cart has no content -->
		<p>{#text_empty_cart#}</p>
	{/if}
	</div>
{/if}
