/*LOADING CSS by Javascript */

#tabbed_product_info ul{
	margin: 0px 0px 0px 0px;
	display: block;
}
#accordion_product_info h3  a{
	display: block;
}
#tabbed_product_info, #accordion_product_info{
	margin-top: 10px;
}
#tabbed_product_info .morepics {	
	background-color: transparent;		
	border-width: 0px 0px 0px 0px;	
	width: 506px;
    margin-bottom:0px;
    padding-bottom:0px;	
}

#accordion_product_info .morepics {	
	background-color: transparent;	
	border-width: 0px 0px 0px 0px;	
	width: 460px;
    margin-bottom:0px;
    padding-bottom:0px;
    padding-left:0px;	
}

#tab_description ol, #tab_description ul, #accordion_product_info ul, #accordion_product_info ul{
	margin:10px 0px 10px 22px;
	display: block;
}
